name: Build and Deploy Frontend Code

on:
  push:
    paths:
      - '**'
      - .github/workflows/build-deploy.yaml
      - '!README.md'
      - '!VERSION'
    branches:
      - '**'
      - '!releases/**'

env:
  IMAGE_NAME: cysl-frontend

jobs:
  test_and_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1

    - name: set .env
      run: |
        echo ${{ vars.VITE_ENV }} >.env

    - name: Use Node.js
      uses: actions/setup-node@v6.2.0
      with:
        node-version: 25

    - name: Test and Build
      env:
        VITE_AUTH0_DOMAIN: ${{ vars.VITE_AUTH0_DOMAIN}}
        VITE_AUTH0_CLIENT_ID: ${{ vars.VITE_AUTH0_CLIENT_ID }}
        VITE_AUTH0_CALLBACK_URL: ${{ vars.VITE_AUTH0_CALLBACK_URL }}
        VITE_AUTH0_SCOPE: ${{ vars.VITE_AUTH0_SCOPE }}
        VITE_AUTH0_AUDIENCE: ${{ vars.VITE_AUTH0_AUDIENCE }}
      run: |
        npm install
        npm run coverage
        npm run build

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v3.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.IMAGE_NAME }}
        tags: |
          type=sha,prefix={{branch}}-

    - name: Build image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        tags: ${{ steps.meta.outputs.tags }}
        labels: runnumber=${{ github.run_id }}
        outputs: type=docker,dest=/tmp/${{ env.IMAGE_NAME }}.tar
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Run Trivy vulnerability scanner in fs mode
      uses: aquasecurity/trivy-action@0.33.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        trivy-config: trivy.yaml

    - name: Upload image artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-image
        path: /tmp/${{ env.IMAGE_NAME }}.tar
        retention-days: 1

    - name: Deploy to Server
      if: github.ref == 'refs/heads/main'
      uses: easingthemes/ssh-deploy@main
      env:
        TARGET_DIR: ${{ vars.DEPLOY_TARGET }}/frontend-files/${{ github.sha }}
      with:
        SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        ARGS: "-rlgoDzvc -i"
        SOURCE: "dist/"
        REMOTE_HOST: ${{ vars.DEPLOY_HOST }}
        REMOTE_USER: ${{ vars.DEPLOY_USER }}
        TARGET: ${{ env.TARGET_DIR }}
        SCRIPT_BEFORE: |
          sudo mkdir -p ${{ env.TARGET_DIR }}
          sudo chmod 777 -R ${{ env.TARGET_DIR }}
        SCRIPT_AFTER: |
          sudo rm ${{ vars.DEPLOY_TARGET }}/frontend || echo frontend link does NOT exist
          sudo ln -s ${{ env.TARGET_DIR }} ${{ vars.DEPLOY_TARGET }}/frontend
          sudo chmod 755 -R ${{ env.TARGET_DIR }}
          sudo chown root:root -R ${{ env.TARGET_DIR }}

  docker_push:
#  if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
    - name: Download image artifact
      uses: actions/download-artifact@v4
      with:
        name: docker-image
        path: /tmp

    - name: Load Docker image
      run: |
        docker load --input /tmp/${{ env.IMAGE_NAME }}.tar
        docker image ls -a

    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
        IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

        VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
        [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
        [ "$VERSION" == "main" ] && VERSION=latest

        # Get the built image tag from previous job
        BUILT_IMAGE=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep ${{ env.IMAGE_NAME }} | head -n 1)
        
        echo IMAGE_ID=$IMAGE_ID
        echo VERSION=$VERSION
        echo BUILT_IMAGE=$BUILT_IMAGE

        docker tag $BUILT_IMAGE $IMAGE_ID:$VERSION
        docker tag $BUILT_IMAGE $IMAGE_ID:latest
        docker push $IMAGE_ID:latest
        docker push $IMAGE_ID:$VERSION

